{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ if site.Data.contact.map.enable }}
<section class="section pt-0">
  <div class="container">
    <div id="map_canvas" data-latitude="{{ with site.Params.mapLatitude }} {{ . }} {{ end }}"
      data-longitude="{{ with site.Params.mapLongitude }} {{ . }} {{ end }}"
      data-marker="{{ with site.Params.mapMarker }} {{ . | absURL }} {{ end }}" data-marker-name="{{ site.Title }}"></div>
  </div>
</section>
{{ end }}

{{ partial "cta.html" . }}

{{ end }}