<!DOCTYPE html>
<div class="container">
  <ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
    <li>Coffee</li>
      <ol>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
        <li>Black tea</li>
        <li>Green tea</li>
      </ol>
  </ol>
</div>

</body>
</html>
