<body style="font-weight:18px">
  <section class="section pt-0">
    <div class="container">
      <div class="content" style="font-weight:300;font-size:18px">
        <ol>
          <li>Introduction</li>
            <ol>
              <li>About this book</li>
              <li>Target audience</li>
              <li>Motivating applications</li>
              <li>What you will learn</li>
              <li>Tools you will use</li>
              <li>Inspiring examples</li>
              <li>FAQ</li>
              <li>About the author</li>
            </ol>
          <li>Complete end-to-end example</li>
            <ol>
              <li>How it works</li>
              <li>Install software</li>
              <li>Create accounts</li>
              <li>Generate the website</li>
              <li>Make some edits</li>
              <li>Integrate Google Analytics</li>
              <li>Integrate Formspree</li>
              <li>Push the website to GitHub</li>
              <li>Deploy the website on Netlify</li>
              <li>Analyze Google Analytics data</li>
              <li>Next steps</li>
            </ol>
          <li>Choosing your preferred style</li>
            <ol>
              <li>How it works</li>
              <li>The 90/10 rule for themes</li>
              <li>Generating websites from themes</li>
              <li>Next steps</li>
            </ol>
          <li>Generating your website</li>
            <ol>
              <li>Prerequisites</li>
              <li>How it works</li>
              <li>Use case</li>
              <li>Generate your site in three steps</li>
              <li>Serve the website locally</li>
              <li>Next steps</li>
            </ol>
          <li>Fine tuning the look and feel</li>
            <ol>
              <li>Prerequisites</li>
              <li>How it works</li>
              <li>About CSS</li>
              <li>About the Inspect tool</li>
              <li>Use case</li>
              <li>Before you begin</li>
              <li>Update the base URL</li>
              <li>Title, description, and author</li>
              <li>Profile image</li>
              <li>Favicon</li>
              <li>Font style</li>
              <li>Font sizes</li>
              <li>Colors</li>
              <li>Next steps</li>
            </ol>
          <li>Configuring pages and features</li>
            <ol>
              <li>Prerequisites</li>
              <li>Rename pages</li>
              <li>Delete pages</li>
              <li>Edit the About page</li>
              <li>Delete default posts</li>
              <li>Delete language translations</li>
              <li>Edit social media links</li>
              <li>Configure contact forms</li>
              <li>Customize contact forms</li>
              <li>View contact form submissions</li>
              <li>Next steps</li>
            </ol>
          <li>Authoring new content</li>
            <ol>
              <li>Prerequisites</li>
              <li>How it works</li>
              <li>Example posts</li>
              <li>Create a new post</li>
              <li>Add a summary</li>
              <li>Add a table of contents</li>
              <li>Add code highlighting</li>
              <li>Add tags and categories</li>
              <li>Next steps</li>
            </ol>
          <li>Going live on the internet</li>
            <ol>
              <li>Prerequisites</li>
              <li>How it works</li>
              <li>Upload files to GitHub</li>
              <li>Configure Netlify for deployment</li>
              <li>Update your website</li>
              <li>Purchase a custom domain name</li>
            </ol>
          <li>Analyzing user traffic</li>
            <ol>
              <li>Prerequisites</li>
              <li>How it works</li>
              <li>Set up Google Analytics</li>
              <li>Analyze traffic using R</li>
              <li>Closing thoughts</li>
            </ol>
          <li>Tips and tricks</li>
            <ol>
              <li>Serve your website locally</li>
              <li>Push frequent updates to GitHub</li>
            </ol>
        </ol>
      </div>
    </div>
  </section>
</body>
