{{ define "main" }}

{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="section-sm" style="padding-top:30px;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <!---<h1>{{ .title | markdownify }}</h1>--->
        <p style="font-size:22px">{{ .content | markdownify }}</p>
        <br>
        <br>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-primary mr-3">{{ .label }}</a>
        {{ end }}
        {{ end }}
        
        {{ if .button2.enable }}
        {{ with .button2 }}
        <a href="{{ .link }}" class="btn btn-primary mr-3">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ if .video.enable }}
        {{ with .video }}
        <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal"
          class="text-color video-modal"><i
            class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>Watch Video</span></a>
        {{ end }}
        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-0">
              <iframe width="560" height="315" src="" id="video" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-7 col-md-6 order-1 order-lg-2" style="margin-top:10px">
        <img src="{{ .image | absURL }}" class="img-fluid" style="margin-left:auto;margin-right:auto;display:block" alt="">
      </div>
    </div>
  </div>
</section>
<br>
{{ end }}
{{ end }}

{{ end }}
